.sessionSummaryBox{
    border: 2px #2E9CCA solid;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding:10px;
    padding-left: 20px;
}

.logExerciseList{
    list-style-type: none;
}

.logHeading{
    text-align: center;
}
.SessionDetailsPopUp{
    border: 5px #2E9CCA solid;
    padding: 1em;
    margin: 1em 8em;
}

.noteSection{
    border-top: #2E9CCA 2px solid;
    margin-top: 2em;
}